.ticket-editor{
	position: relative;
	display: flex;
	flex-direction: column;
	gap: 10px;
	background: linear-gradient(rgb(197, 222, 238),rgba(160, 233, 255, 0.451));
	min-width: 500px;
	min-height: 320px;
	border-radius: 20px;
	padding: 10px;
	box-shadow: 0px 0px 5px 1px rgba(219, 219, 219, 0.844);
}
.ticket-editor__route{
	font-size: 18px;
}
.custom-input{
	height: 20px;
	width: 450px;
}
.ticket-editor__body{
	display: flex;
	flex-direction: column;
	gap: 15px;
}

.ticket-editor__buttons{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 10px;
	margin: 10px;
}
.btn{
	background-color: white;
	padding: 6px 8px;
	border: 1px solid black;
	cursor: pointer;
	transition: all 0.3s ease;
	margin-top: 10px;
}
.btn:hover{
	background-color: rgba(221, 221, 221, 0.451);
}

@media (max-width:720px) {
	.ticket-editor{
		min-width: 300px;
		min-height: 200px;
	}
	.custom-input{
		width: 280px;
		height: 30px;
		padding: 5px;
	}
}