.admin{
	font-family:'Roboto',sans-serif;
	color:black;
	height: 100vh;
	background-color: rgba(210, 224, 246, 0.737);
}
.admin__tickets{
	margin: 0 auto;
	padding: 10px;
	display: flex;
	flex-direction: row;
	max-width: 1560px;
	overflow-x:scroll;
	gap: 20px;
	padding-bottom: 20px;
}
.admin__search{
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 15px;
	max-width: fit-content;
	margin: 0 auto;
	padding: 120px 0px 20px 0px;
}
.admin__search-input{
	font-size: 17px;
	padding: 2px 5px;
	width: 240px;
	height: 30px;
}

*::-webkit-scrollbar {
	height: 15px;            /* ширина всей полосы прокрутки */
 }
 
*::-webkit-scrollbar-track {
	background: rgb(240, 240, 240);        /* цвет зоны отслеживания */
}
 
 *::-webkit-scrollbar-thumb {
	background-color: rgb(199, 199, 199);    /* цвет бегунка */
	border-radius: 20px;       /* округлось бегунка */
 }

 @media (max-width:720px) {
	.admin__search{
		padding: 20px 0px 20px 0px;

	}
 }